In [1]:
import pandas as pd
import numpy as np

In [10]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')
chipoi = pd.DataFrame(chipo)
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [11]:
chipo.quantity.sum()

4972

In [18]:
chipo.item_price = chipo.item_price.replace('$', '')
chipo.item_price = chipo.item_price.astype(float)
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25

In [40]:
orders = chipo.order_id.value_counts().count()
orders

1834

In [79]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
chipo.groupby('order_id').sum().mean()
# chipo.groupby('order_id').sum().mean()['revenue']

quantity       2.711014
item_price    18.811429
revenue       21.394231
dtype: float64

** How many different items are sold? **

In [80]:
chipo.item_name.value_counts().count()

50

In [87]:
chipo.columns[3]

'choice_description'

In [94]:
# What is the item_name of the 9th observation?

In [103]:
chipo.values[9][2]

'Steak Burrito'

In [112]:
chipo.query('item_price > 10').choice_description.nunique()

492

In [117]:
chipo.query('item_price < 10').sort_values("item_price", ascending = False).head(20)

,order_id,quantity,item_name,choice_description,item_price,revenue
3356,1346,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",9.39,9.39
1421,576,1,Barbacoa Salad Bowl,[Roasted Chili Corn Salsa],9.39,9.39
4547,1807,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",9.39,9.39
1825,738,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",9.39,9.39
4572,1818,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",9.39,9.39
1418,576,1,Barbacoa Salad Bowl,[Roasted Chili Corn Salsa],9.39,9.39
4036,1615,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",9.39,9.39
2624,1042,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Sour Cream,...",9.39,9.39
4419,1762,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",9.39,9.39
1865,756,1,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",9.39,9.39
4391,1752,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Pinto Beans...",9.39,9.39
3115,1243,1,Carnitas Salad Bowl,"[Tomatillo Green Chili Salsa, [Rice, Pinto Bea...",9.39,9.39
2600,1032,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",9.39,9.39
4390,1751,1,Barbacoa Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",9.39,9.39
3098,1235,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",9.39,9.39
607,250,1,Steak Salad Bowl,"[Fresh Tomato Salsa, Lettuce]",9.39,9.39
4241,1693,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",9.39,9.39
1769,714,1,Steak Burrito,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",9.25,9.25
1771,715,1,Steak Burrito,"[Roasted Chili Corn Salsa, [Lettuce, Black Bea...",9.25,9.25
481,205,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",9.25,9.25

In [ ]:
len((chipo_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]))